In [1]:
import numpy as np

from Modeling import soeModel
%load_ext autoreload
%autoreload 1
%reload_ext autoreload
import pandas as pd
import re
import json

In [2]:
model = soeModel()
model.preprocessing()

In [3]:
with open("local_dictionary.json", "r") as f:
    translations_all = json.load(f)

In [4]:
%%time
model.translate_cells(local_dict_name="local_dictionary.json", local=True)

CPU times: user 22.9 ms, sys: 1.22 ms, total: 24.1 ms
Wall time: 23.3 ms

In [20]:
# model.power_sale

In [6]:
model.correct_digital_type()

In [7]:
model.power_sale

,Power Plant Classification,power plant,Power grid,geographic location,Total power generation (100 million kWh) 2021,Total electricity sales (100 million kWh) 2021,Average utilization hours (hours) 2021,Standard coal consumption for electricity sales (g/kWh) 2021,Electricity sales price (yuan/MWh) 2021,Total installed capacity by the end of the year (MW) 2021,...,Electricity Sales Price (RMB/MWh) 2019,Total installed capacity at the end of the year (MW) 2019,Equity installed capacity at the end of the year (MW) 2019,Total power generation (100 million kWh) 2018,Total electricity sales (100 million kWh) 2018,Average utilization hours (hours) 2018,Standard coal consumption for electricity sales (g/kWh) 2018,Electricity sales price (yuan/MWh) 2018,Total installed capacity at the end of the year (MW) 2018,Equity installed capacity at the end of the year (MW) 2018
0,coal burning,Zhuneng Power,North China Power Grid,Inner Mongolia,36.3,32.9,5504.0,347.0,299.0,660.0,...,230.0,660.0,381.0,33.0,29.0,3392.0,367.0,213.0,960.0,554.0
1,coal burning,Guohua Jungar,North China Power Grid,Inner Mongolia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71.0,65.0,5411.0,310.0,236.0,1320.0,639.0
2,coal burning,Guohua calls,North China Power Grid,Inner Mongolia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,60.0,54.0,5019.0,321.0,236.0,1200.0,960.0
3,coal burning,Shendong Power,Northwest/North China/\nShaanxi Province Local...,Inner Mongolia,240.3,222.1,4792.0,320.0,323.0,5014.0,...,294.0,5814.0,5328.0,335.0,307.0,3723.0,337.0,255.0,8984.0,8726.0
4,coal burning,Victory Energy,North China Power Grid,Inner Mongolia,9.4,8.4,712.0,352.0,278.0,1320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,coal burning,Cangdong Power,North China Power Grid,Hebei,114.4,108.8,4539.0,297.0,323.0,2520.0,...,318.0,2520.0,1285.0,132.0,126.0,5244.0,300.0,315.0,2520.0,1285.0
6,coal burning,Sanhe Power,North China Power Grid,Hebei,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,68.0,64.0,5119.0,291.0,327.0,1330.0,512.0
7,coal burning,Dingzhou Electric Power,North China Power Grid,Hebei,117.6,108.8,4666.0,304.0,324.0,2520.0,...,315.0,2520.0,1021.0,139.0,129.0,5522.0,307.0,320.0,2520.0,1021.0
8,coal burning,Taishan Electric Power,China Southern Power Grid,Guangdong,267.1,252.4,5218.0,307.0,394.0,5120.0,...,391.0,5090.0,4072.0,239.0,226.0,4694.0,309.0,354.0,5090.0,4072.0
9,coal burning,Huizhou Thermal Power,China Southern Power Grid,Guangdong,38.0,34.3,5760.0,307.0,371.0,660.0,...,377.0,660.0,660.0,34.0,31.0,5187.0,324.0,358.0,660.0,660.0
10,coal burning,Zheneng Electric Power,East China Power Grid,zhejiang,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,224.0,212.0,4944.0,299.0,353.0,4520.0,2712.0
11,coal burning,Zhoushan Electric Power,East China Power Grid,zhejiang,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48.0,44.0,5236.0,331.0,361.0,910.0,464.0
12,coal burning,Shenwan Energy,East China Power Grid,Anhui,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,237.0,226.0,5066.0,299.0,322.0,5920.0,3019.0
13,coal burning,Taicang Electric Power,East China Power Grid,Jiangsu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71.0,68.0,5608.0,294.0,309.0,1260.0,630.0
14,coal burning,Chenjiagang Electric Power,East China Power Grid,Jiangsu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69.0,66.0,5187.0,284.0,318.0,1320.0,726.0
15,coal burning,Xuzhou Electric Power,East China Power Grid,Jiangsu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,93.0,88.0,4651.0,289.0,340.0,2000.0,2000.0
16,coal burning,Suizhong Electric Power,East China Power Grid,liaoning,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,176.0,165.0,4672.0,310.0,309.0,3760.0,1880.0
17,coal burning,Fujian Energy,East China Power Grid,Fujian,171.9,164.6,6014.0,294.0,357.0,3810.0,...,345.0,2810.0,1375.0,156.0,149.0,5241.0,282.0,341.0,2800.0,1375.0
18,coal burning,Jinjie Energy,North China Power Grid,Shaanxi,214.5,198.3,5765.0,312.0,267.0,3720.0,...,272.0,2400.0,1680.0,165.0,152.0,6892.0,322.0,267.0,2400.0,1680.0
19,coal burning,Shenmu Power,Northwest Power Grid,Shaanxi,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,377.0,306.0,NaN,NaN
20,coal burning,Shouguang Power,North China Power Grid,Shandong,109.8,104.7,5434.0,275.0,357.0,2020.0,...,348.0,2020.0,1212.0,34.0,30.0,2659.0,332.0,386.0,1260.0,604.0
21,coal burning,Guohua Ningdong,Zhejiang Power Grid,Ningxia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50.0,48.0,4197.0,307.0,300.0,1200.0,612.0
22,coal burning,Ningdong Electric Power,Northwest Power Grid,Ningxia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,115.0,110.0,5705.0,280.0,339.0,2020.0,1212.0
23,coal burning,Panshan Electric Power,North China Power Grid,Tianjin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69.0,65.0,5202.0,302.0,226.0,1320.0,749.0
24,coal burning,Jiujiang Electric Power,Central China Power Grid,Jiangxi,120.5,115.0,6023.0,276.0,364.0,2000.0,...,359.0,2000.0,2000.0,28.0,25.0,4207.0,363.0,234.0,660.0,660.0
25,coal burning,Sichuan Energy,Sichuan Power Grid,sichuan,61.0,56.1,3468.0,325.0,424.0,3260.0,...,392.0,1260.0,604.0,51.0,48.0,4807.0,312.0,355.0,1060.0,482.0
26,coal burning,Mengjin Power,Central China Power Grid,Henan,48.8,45.6,4068.0,303.0,295.0,1200.0,...,308.0,1200.0,612.0,20.0,19.0,2832.0,321.0,345.0,700.0,490.0
27,coal burning,Liuzhou Electric Power,Guangxi Power Grid,Guangxi,40.8,38.7,5826.0,314.0,366.0,700.0,...,344.0,700.0,490.0,57.0,55.0,2857.0,281.0,354.0,2000.0,2000.0
28,coal burning,Yongzhou Electric Power,Hunan Power Grid,Hunan,10.6,10.2,664.0,280.0,467.0,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,coal burning,Nansu EMM,PLN,Indonesia,17.6,15.5,5858.0,365.0,465.0,300.0,...,523.0,300.0,210.0,16.0,14.0,5302.0,367.0,510.0,300.0,210.0
30,gas,Beijing Gas,North China Power Grid,Beijing,38.5,37.7,4057.0,193.0,565.0,950.0,...,573.0,950.0,950.0,39.0,38.0,4131.0,200.0,589.0,950.0,950.0
31,gas,Yuyao Electric Power,East China Power Grid,zhejiang,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19.0,19.0,2474.0,232.0,503.0,780.0,624.0
32,hydropower,Sichuan Energy,Sichuan Provincial Power Grid,sichuan,7.4,7.2,5921.0,NaN,224.0,125.0,...,556.0,125.0,48.0,7.0,7.0,5517.0,NaN,222.0,125.0,48.0
33,wind energy,Zhuhai Wind Energy,China Southern Power Grid,Guangdong,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
params = {
    "types": "power",
    "pct": 0.5,
    "year": 2019,
    "coal_price": 50.0,
    "coal_power": True,
    "coal_purchase": False,
    "coal_transportation": False
}
table = model.scenario(**params)

/Users/zechengli/Desktop/CHINA_SOE_MODEL/Modeling.py:234: RuntimeWarning: invalid value encountered in divide
  lst2 = (np.array(lst1) / np.array(sale_cost_lst)).tolist()

In [9]:
table

,Power Dispatched (TWh),Weighted Average Tariff (RMB/MWh),Estimated Gross Revenue (RMB/MWh),Estimated Sales Cost (Million RMB),Gross Profit (Million RMB),Gross Profitability
All Power,130.33,50.0,44012.16,NaN,NaN,nan%
Coal Power,126.52,50.0,41829.03,33560.0,8269.03,24.64%
Gas Power,3.81,50.0,2183.13,NaN,NaN,nan%
Hydro Power,0.00,50.0,0.00,NaN,NaN,nan%

In [10]:
model.case

                                   Reduced by 50%
Power Dispatched (TWh)                      63.26
Weighted Average Tariff (RMB/MWh)            50.0
Estimated Gross Revenue (RMB/MWh)          3163.0
Estimated Sales Cost (Million RMB)      22145.468
Gross Profit (Million RMB)             -18982.468
Gross Profitability                       -85.72%

In [11]:
#TODO: change the table structure

In [12]:
model = soeModel()
model.df_lst

['power_sale', 'power_cost', 'elec_cost']

In [13]:
model.power_sale

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,NaN,NaN
1,,,,,\n(),\n(),\n(),\n(/),\n(/),\n(),...,\n(/),\n(),\n(),\n(),\n(),\n(),\n(/),\n(/),\n(),\n()
2,,,,,36.3,32.9,"5,504.0",347.0,299.0,660.0,...,230.0,660,381,33,29,"3,392",367,213,960,554
3,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71,65,"5,411",310,236,"1,320",639
4,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,60,54,"5,019",321,236,"1,200",960
5,,,//\n,,240.3,222.1,"4,792.0",320.0,323.0,"5,014.0",...,294.0,"5,814","5,328",335,307,"3,723",337,255,"8,984","8,726"
6,,,,,9.4,8.4,712.0,352.0,278.0,"1,320.0",...,-,-,-,NaN,-,NaN,NaN,-,-,-
7,,,,,114.4,108.8,"4,539.0",297.0,323.0,"2,520.0",...,318.0,"2,520","1,285",132,126,"5,244",300,315,"2,520","1,285"
8,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,68,64,"5,119",291,327,"1,330",512
9,,,,,117.6,108.8,"4,666.0",304.0,324.0,"2,520.0",...,315.0,"2,520","1,021",139,129,"5,522",307,320,"2,520","1,021"
10,,,,,267.1,252.4,"5,218.0",307.0,394.0,"5,120.0",...,391.0,"5,090","4,072",239,226,"4,694",309,354,"5,090","4,072"
11,,,,,38.0,34.3,"5,760.0",307.0,371.0,660.0,...,377.0,660,660,34,31,"5,187",324,358,660,660
12,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,224,212,"4,944",299,353,"4,520","2,712"
13,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,48,44,"5,236",331,361,910,464
14,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,237,226,"5,066",299,322,"5,920","3,019"
15,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71,68,"5,608",294,309,"1,260",630
16,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69,66,"5,187",284,318,"1,320",726
17,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,93,88,"4,651",289,340,"2,000","2,000"
18,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,176,165,"4,672",310,309,"3,760","1,880"
19,,,,,171.9,164.6,"6,014.0",294.0,357.0,"3,810.0",...,345.0,"2,810","1,375",156,149,"5,241",282,341,"2,800","1,375"
20,,,,,214.5,198.3,"5,765.0",312.0,267.0,"3,720.0",...,272.0,"2,400","1,680",165,152,"6,892",322,267,"2,400","1,680"
21,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,1,,377,306,,
22,,,,,109.8,104.7,"5,434.0",275.0,357.0,"2,020.0",...,348.0,"2,020","1,212",34,30,"2,659",332,386,"1,260",604
23,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,50,48,"4,197",307,300,"1,200",612
24,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,115,110,"5,705",280,339,"2,020","1,212"
25,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69,65,"5,202",302,226,"1,320",749
26,,,,,120.5,115.0,"6,023.0",276.0,364.0,"2,000.0",...,359.0,"2,000","2,000",28,25,"4,207",363,234,660,660
27,,,,,61.0,56.1,"3,468.0",325.0,424.0,"3,260.0",...,392.0,"1,260",604,51,48,"4,807",312,355,"1,060",482
28,,,,,48.8,45.6,"4,068.0",303.0,295.0,"1,200.0",...,308.0,"1,200",612,20,19,"2,832",321,345,700,490
29,,,,,40.8,38.7,"5,826.0",314.0,366.0,700.0,...,344.0,700,490,57,55,"2,857",281,354,"2,000","2,000"
30,,,,,10.6,10.2,664.0,280.0,467.0,"2,000.0",...,-,-,-,NaN,-,NaN,NaN,-,-,-
31,,EMM,PLN,,17.6,15.5,"5,858.0",365.0,465.0,300.0,...,523.0,300,210,16,14,"5,302",367,510,300,210
32,,,,,38.5,37.7,"4,057.0",193.0,565.0,950.0,...,573.0,950,950,39,38,"4,131",200,589,950,950
33,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,19,19,"2,474",232,503,780,624
34,,,,,7.4,7.2,"5,921.0",/,224.0,125.0,...,556.0,125,48,7,7,"5,517",,222,125,48
35,,,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,,,,,,,

In [14]:
model.power_cost

,0,1,2,3,4,5,6,7,8,9
0,NaN,2021,NaN,NaN,2020,NaN,NaN,2019,NaN,NaN
1,NaN,\n(),\n(),\n(/),\n(),\n(),\n(/),\n(),\n(),\n(/)
2,,"54,360","1,561.3",348.1,"35,246","1,276.5",276.1,NaN,NaN,NaN
3,,"41,686","1,561.3",267.0,"24,827","1,276.5",194.5,"28,739","1,440.4",199.5
4,,"3,277","1,561.3",21.0,"2,307","1,276.5",18.1,"2,371","1,440.4",16.5
5,,"1,808","1,561.3",11.6,"2,086","1,276.5",16.3,NaN,NaN,NaN
6,,"5,254","1,561.3",33.7,"5,056","1,276.5",39.6,"5,481","1,440.4",38.1
7,,"2,315","1,561.3",14.8,970,"1,276.5",7.6,"1,238","1,440.4",8.5
8,,"4,833","1,561.3",NaN,"2,852","1,277.5",NaN,52,"1,440.4",NaN

In [15]:
model.elec_cost

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,NaN,2022,NaN,NaN,2021,NaN,NaN,2020,NaN,NaN,2019,NaN,NaN,2018,NaN,NaN,2017,NaN,NaN
1,NaN,\n(),\n(),\n(/),\n(),\n(),\n(/),\n(),\n(),\n(/),\n(),\n(),\n(/),\n(),\n(),\n(/),\n(),\n(),\n(/)
2,,"22,311",796.0,280.3,"39,944","1,516.4",263.4,"23,103","1,232.7",187.4,"26,802","1,265.4",211.8,"50,511","2,675.9",188.8,"46,008","2,462.5",186.8
3,,"2,025",796.0,25.4,"3,195","1,516.4",21.1,"2,265","1,232.7",18.4,"2,328","1,265.4",18.4,"4,453","2,675.9",16.6,"3,939","2,462.5",16.0
4,,860,796.0,10.8,"1,688","1,516.4",11.1,"1,989","1,232.7",16.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,,"2,969",796.0,37.3,"5,078","1,516.4",33.5,"4,886","1,232.7",39.6,"5,294","1,265.4",41.8,"8,005","2,675.9",29.9,"9,235","2,462.5",37.5
6,,"1,001",796.0,12.6,"2,161","1,516.4",14.3,841,"1,232.7",6.8,"1,125","1,265.4",8.9,"1,801","2,675.9",6.7,"1,925","2,462.5",7.8

In [16]:
def preprocessing(df, cost):
    df = df.copy()
    df.loc[0] = df.loc[0].fillna(method='ffill').fillna('')
    df.columns = df.loc[0]
    # power_sale = power_sale.drop(columns=['Remove'])
    df.iloc[1] = df.iloc[1].str.replace('\n', ' ')
    columns = df.iloc[1] + ' ' + df.iloc[0]
    if cost:
        columns = columns.fillna('')
    df.columns = columns
    df.drop(index=[0, 1], inplace=True)
    df.reset_index(drop=True, inplace=True)
    # replace other symbol of None value to None
    df.replace(['-', '/', '  -   ', '  '], None, inplace=True)

    return df

In [17]:
preprocessing(df = model.elec_cost, cost = True)

,,() 2022,() 2022,(/) 2022,() 2021,() 2021,(/) 2021,() 2020,() 2020,(/) 2020,() 2019,() 2019,(/) 2019,() 2018,() 2018,(/) 2018,() 2017,() 2017,(/) 2017
0,,"22,311",796.0,280.3,"39,944","1,516.4",263.4,"23,103","1,232.7",187.4,"26,802","1,265.4",211.8,"50,511","2,675.9",188.8,"46,008","2,462.5",186.8
1,,"2,025",796.0,25.4,"3,195","1,516.4",21.1,"2,265","1,232.7",18.4,"2,328","1,265.4",18.4,"4,453","2,675.9",16.6,"3,939","2,462.5",16.0
2,,860,796.0,10.8,"1,688","1,516.4",11.1,"1,989","1,232.7",16.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,"2,969",796.0,37.3,"5,078","1,516.4",33.5,"4,886","1,232.7",39.6,"5,294","1,265.4",41.8,"8,005","2,675.9",29.9,"9,235","2,462.5",37.5
4,,"1,001",796.0,12.6,"2,161","1,516.4",14.3,841,"1,232.7",6.8,"1,125","1,265.4",8.9,"1,801","2,675.9",6.7,"1,925","2,462.5",7.8

In [18]:
df = model.power_cost.copy()
df

,0,1,2,3,4,5,6,7,8,9
0,NaN,2021,NaN,NaN,2020,NaN,NaN,2019,NaN,NaN
1,NaN,\n(),\n(),\n(/),\n(),\n(),\n(/),\n(),\n(),\n(/)
2,,"54,360","1,561.3",348.1,"35,246","1,276.5",276.1,NaN,NaN,NaN
3,,"41,686","1,561.3",267.0,"24,827","1,276.5",194.5,"28,739","1,440.4",199.5
4,,"3,277","1,561.3",21.0,"2,307","1,276.5",18.1,"2,371","1,440.4",16.5
5,,"1,808","1,561.3",11.6,"2,086","1,276.5",16.3,NaN,NaN,NaN
6,,"5,254","1,561.3",33.7,"5,056","1,276.5",39.6,"5,481","1,440.4",38.1
7,,"2,315","1,561.3",14.8,970,"1,276.5",7.6,"1,238","1,440.4",8.5
8,,"4,833","1,561.3",NaN,"2,852","1,277.5",NaN,52,"1,440.4",NaN

In [52]:
is_cost = False
df = model.power_sale.copy()
######
# column names reformatting
df.loc[0] = df.loc[0].str.extract(r'(\d{4})', expand=False).fillna(method='ffill')
df = df.fillna('')
df.iloc[1] = df.iloc[1].str.replace('\n', ' ').str.strip()
columns = df.iloc[1] + ' ' + df.iloc[0]

# if the data is a cost-related table
if is_cost:
    columns = columns.replace(' ', '')
df.columns = columns

# drop the unnecessary rows
df = df.iloc[2:].reset_index(drop=True)
df.columns = [col.strip() for col in df.columns]

# Identify the columns containing a year in the first row
year_columns = [col for col in df.columns if re.search(r'\d{4}$', col)]
new_column_names = {col: re.sub(r'\s*\d{4}\s*$', '', col) for col in df.columns}
# Preprocessing translate to the time-series panel data
for col in year_columns:
    match = re.search(r'\d{4}', col)
    year = match.group(0)
    df[col] = df[col].apply(lambda x: str(x) + '!' + str(year))
    # If Cost Category
    if is_cost:
        df[col] = df[''] + '!' + df[col]
    # if power sale
    else:
        df[col] = df[''] + '!' + df[''] + '!' + df[''] + '!' + df[''] + '!' + df[col]

# Drop and will be adding back afterward
if is_cost:
    df.drop([''], axis=1, inplace=True)
else:
    df.drop(['','','',''], axis=1, inplace=True)

# Rename the cok
df.rename(columns=new_column_names, inplace=True)
# Drop the unnecessary columns
if not is_cost:
    df.drop([' ()','I38','Q38'], axis=1, inplace=True)
# Get unique column names
unique_columns = df.columns.unique()

# Create an empty DataFrame to store the concatenated columns
concatenated_df = pd.DataFrame()

# Loop through unique column names and concatenate the columns vertically
for unique_col in unique_columns:
    # Create an empty list to store values
    values = []

    # Loop through columns with the same name
    for col in df.columns[df.columns == unique_col]:
        # Extend the values list with non-NaN values from the column
        values.extend(df[col].values.tolist())

    # Flatten the nested list
    if len(values) != 1:
        values = [item for sublist in values for item in sublist]

    # Add the values list as a column in the concatenated DataFrame
    concatenated_df[unique_col] = pd.Series(values)


# Replace the original DataFrame with the concatenated one
df = concatenated_df

# Formal step of translating to the time-series panel data
for unique_col in unique_columns:
    if is_cost:
        df[['', unique_col, '']] = df[unique_col].str.split('!', expand=True)
    else:
        df[['','','','', unique_col, '']] = df[unique_col].str.split('!', expand=True)

# let cost category as the first column
if is_cost:
    columns_to_move = ''
    cols = df.columns.tolist()
    cols.insert(0, cols.pop(cols.index(columns_to_move)))
    df = df[cols].sort_values(by=['']).reset_index(drop=True)
# power sale
else:
    columns_to_move = ['', '', '', '']
    # Reorder columns by moving the specified columns to the front
    new_columns = columns_to_move + [col for col in df.columns if col not in columns_to_move]
    # Update the DataFrame with the new column order
    df = df[new_columns].sort_values(by=['']).reset_index(drop=True)

# Empty Values processing
df.replace(['-', '/', '  -   ', '  ', ''], np.nan, inplace=True)

In [35]:
df.columns, unique_columns

(Index([' ()', ' ()', ' ()', ' (/)',
        ' (/)', ' ()', ' ()', 'I38',
        ' ()', 'Q38'],
       dtype='object'),
 Index([' ()', ' ()', ' ()', ' (/)',
        ' (/)', ' ()', ' ()', 'I38',
        ' ()', 'Q38'],
       dtype='object'))

In [53]:
df

,,,,,(),(),(),(/),(/),(),(),
0,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
1,,,,,115,110,"5,705",280,339,"2,020","1,212",2018
2,,,,,69,65,"5,202",302,226,"1,320",749,2018
3,,,,,28,25,"4,207",363,234,660,660,2018
4,,,,,51,48,"4,807",312,355,"1,060",482,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
539,,,,,9.4,8.4,712.0,352.0,278.0,"1,320.0","1,320.0",2021
540,,,,,48.8,45.6,"4,068.0",303.0,295.0,"1,200.0",612.0,2021
541,,,,,61.0,56.1,"3,468.0",325.0,424.0,"3,260.0","2,102.0",2021
542,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
543,,,,,36.3,32.9,"5,504.0",347.0,299.0,660.0,381.0,2021

In [ ]:
with open('local_dictionary.json', "r") as f:
    translations_all = json.load(f)

In [ ]:
translations_all

In [ ]:
translate_back = {value: key for key, value in translations_all.items()}

In [ ]:
translate_back['Total electricity sales (100 million kWh) 2019']