In [1]:
import pandas as pd
import numpy as np

### Financial Report

In [2]:
operating_df = pd.read_excel(r'ceic_data.xlsx', sheet_name='OperatingRevenue_Cost ')
operating_df = operating_df.replace('-', None)
operating_df

,sectors,Operating income 2021,Operating Costs 2021,Operating income 2020,Operating Costs 2020,Operating income 2019,Operating Costs 2019,Operating income 2018,Operating Costs 2018,Operating income 2017,Operating Costs 2017
0,煤炭业务,405.1,286.9,226.5,152.9,257.8,182.4,257.2,181.2,243,163.4
1,电力,333.7,333.9,282.2,233.9,280.3,238.8,270.9,236.6,261.9,235.9
2,煤化工,77.4,58.9,55.7,45.8,64.3,51.3,51.3,38.2,39.9,32.4
3,交通运输,59.2,35.1,51.9,25.3,52.8,25.2,51.5,23.6,48.7,21.1
4,新能源,51,25.2,44.7,22.2,40.6,20.3,38.1,18.8,31.9,16.2
5,科技环保,None,None,None,None,None,None,None,None,16.7,12.7
6,产业科技,18.3,15.6,20.8,16.6,16.3,12.2,16.3,12.5,None,None
7,产业金融,5.4,1.7,5.6,2,6.2,2.2,6.1,2.1,7.8,3.5
8,其他,NaN,NaN,18.6,NaN,19.6,NaN,22.3,NaN,NaN,NaN
9,抵消数,NaN,NaN,-149,NaN,-181.8,NaN,-174.6,NaN,NaN,NaN
10,其他&抵消数,-259.4,-257.3,-130.5,-129.6,-162.3,-158,-152.2,-152.7,-140.1,-138.6

In [26]:
operating_df.sum(axis = 0)

sectors                  煤炭业务电力煤化工交通运输新能源科技环保产业科技产业金融其他抵消数其他&抵消数
Operating income 2021                                      690.7
Operating Costs 2021                                       500.0
Operating income 2020                                      426.5
Operating Costs  2020                                      369.1
Operating income 2019                                      393.8
Operating Costs  2019                                      374.4
Operating income 2018                                      386.9
Operating Costs  2018                                      360.3
Operating income 2017                                      509.8
Operating Costs  2017                                      346.6
dtype: object

In [36]:
coal_df = pd.read_excel(r'ceic_data.xlsx', sheet_name='Operation_Data')
coal_df = coal_df.replace('-', None)
coal_df

   Coal Production (Million Tonnes)  Coal Sales (Million Tonnes)  year
0                               570                          770  2021
1                               530                          700  2020
2                               510                          670  2019
3                               510                          680  2018
4                               510                          660  2017

### CEIC Reported Coal Segment Revenue & Cost

In [37]:
operating_df['Operating income 2021'] #, operating_df['Operating Costs 2021']

0     405.1
1     333.7
2      77.4
3      59.2
4        51
5      None
6      18.3
7       5.4
8       NaN
9       NaN
10   -259.4
Name: Operating income 2021, dtype: object

In [33]:
coal_df

,sectors,Operating income 2021,Operating Costs 2021,Operating income 2020,Operating Costs 2020,Operating income 2019,Operating Costs 2019,Operating income 2018,Operating Costs 2018,Operating income 2017,Operating Costs 2017
0,煤炭业务,405.1,286.9,226.5,152.9,257.8,182.4,257.2,181.2,243,163.4
1,电力,333.7,333.9,282.2,233.9,280.3,238.8,270.9,236.6,261.9,235.9
2,煤化工,77.4,58.9,55.7,45.8,64.3,51.3,51.3,38.2,39.9,32.4
3,交通运输,59.2,35.1,51.9,25.3,52.8,25.2,51.5,23.6,48.7,21.1
4,新能源,51,25.2,44.7,22.2,40.6,20.3,38.1,18.8,31.9,16.2
5,科技环保,None,None,None,None,None,None,None,None,16.7,12.7
6,产业科技,18.3,15.6,20.8,16.6,16.3,12.2,16.3,12.5,None,None
7,产业金融,5.4,1.7,5.6,2,6.2,2.2,6.1,2.1,7.8,3.5
8,其他,NaN,NaN,18.6,NaN,19.6,NaN,22.3,NaN,NaN,NaN
9,抵消数,NaN,NaN,-149,NaN,-181.8,NaN,-174.6,NaN,NaN,NaN
10,其他&抵消数,-259.4,-257.3,-130.5,-129.6,-162.3,-158,-152.2,-152.7,-140.1,-138.6

### Shenhua

In [5]:
shenhua = pd.read_excel(r'ceic_data.xlsx', sheet_name='shenhua')
shenhua = shenhua.replace('-', None)
shenhua

,年份,资产总额,营业总收入,主营业务,煤炭收入,发电收入,运输收入,煤化工收入,其他业务,营业利润,...,水电发电量,售电量,火电售电量,燃气售电量,水电售电量,煤矿产量,煤炭销售量,自产煤,外购煤,员工人数
0,2020,558447.0,233263.0,219636.0,163751.0,44321.0,7015.0,4549.0,13627.0,63490.0,...,6.0,1277.0,1233.0,38.0,6.0,292.0,446.0,296.0,150.0,76182
1,2019,558484.0,241871.0,232300.0,168274.0,51507.0,7749.0,4770.0,9571.0,66629.0,...,NaN,NaN,NaN,NaN,NaN,283.0,447.0,285.0,162.0,75620
2,2018,587239.0,264101.0,NaN,NaN,NaN,NaN,NaN,NaN,73146.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86856
3,2017,567124.0,248746.0,NaN,NaN,NaN,NaN,NaN,NaN,71102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89057
4,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90882
5,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95498
6,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92738

In [6]:
446.4 * 410

183024.0

In [7]:
137871 / 446.4

308.8508064516129

## cost

In [40]:
cost = pd.read_excel(r'shenhua.xlsx', sheet_name='Coal Cost' )
cost = cost.replace('-', None)
cost = cost.set_index('year')
cost

      外购煤成本   自产煤生产成本  原材料、燃料及动力  人工成本  折旧及摊销   其他生产成本   运输成本  其他业务成本  营业成本合计
year
2020  48742  34758.72       7897  8119   5318  13413.6  51557  2824.4  137871
2019  53831  33828.00       7458  7686   5410  13274.0  51557  3722.0  143878

In [41]:
cost['营业成本合计'][2020]

137871

In [26]:
operation = pd.read_excel(r'shenhua.xlsx', sheet_name='Operation Data' )
operation = operation.replace('-', None)
operation = operation.set_index('year')
operation

,Commercial coal production,Coal sales,Self-produced Coal,Purchased Coal
year,,,,
2020,291.6,446.4,296.0,150.4
2019,282.7,447.1,284.8,162.3
2018,296.6,460.9,300.7,160.2

### 2020's estimated sales revenue & cost by coal types

In [42]:
COAL_SALE_PRICE =  410

In [43]:
# Coal Sales
gross_profit = operation['Coal sales'][2020] * COAL_SALE_PRICE - cost['营业成本合计'][2020]
gross_profitability = gross_profit / (operation['Coal sales'][2020] * COAL_SALE_PRICE)

In [44]:
gross_profitability

0.2467053501180173

In [56]:
# Fixed cost of self-produced coal
FC_SP_COAL = (cost['原材料、燃料及动力'] +  cost['人工成本'] + cost['折旧及摊销'] + cost['其他生产成本'])[2020]

In [71]:
# Self-produced coals Sales
coal_cost = FC_SP_COAL + cost['运输成本'][2020] * (operation['Self-produced Coal'][2020]
                                                   / operation['Coal sales'][2020])

gross_profit = operation['Self-produced Coal'][2020] * COAL_SALE_PRICE - coal_cost

gross_profitability = gross_profit / (operation['Self-produced Coal'][2020] * COAL_SALE_PRICE)

In [76]:
# Purchased Coals Sales
coal_cost = FC_SP_COAL + cost['运输成本'][2020] * (operation['Purchased Coal'][2020]
                                                   / operation['Coal sales'][2020])
gross_profit = operation['Purchased Coal'][2020] * COAL_SALE_PRICE - coal_cost

gross_profitability = gross_profit / (operation['Purchased Coal'][2020] * COAL_SALE_PRICE)

### China Shenhua Estimated Sales Revenues and Costs of Power Generation

In [100]:
power_sale = pd.read_excel(r'shenhua.xlsx', sheet_name='Power Sale' )
power_sale = power_sale.replace('-', None)
power_sale

,year,Coal Power,Gas Power,Hydro Power,All Power,Unit
0,2020,123.27,3.75,0.63,127.65,TWh
1,2019,126.52,3.81,NaN,130.33,TWH
2,2020,327.00,563.00,232.00,333.44,Weighted Average Tariff
3,2019,331.00,573.00,556.00,NaN,Weighted Average Tariff

In [101]:
power_sale[(power_sale['year'] == 2020)]['All Power'].prod()

42563.616

In [ ]:
power_sale
pd.read_csv()