In [1]:
from Modeling import soeModel
%load_ext autoreload
%autoreload 1
%reload_ext autoreload
from IPython.display import display, HTML

In [2]:
model = soeModel()
model.preprocessing()

In [3]:
%%time
model.translate_cells(local_dict_name="local_dictionary.json", local=True)

CPU times: user 23.3 ms, sys: 1 ms, total: 24.4 ms
Wall time: 23.8 ms

In [4]:
model.correct_digital_type()

In [8]:
params = {
    "types": "power",
    "pct": 0.5,
    "year": 2020,
    "coal_price": None, # default is none
    "coal_power": True,
    "coal_purchase": False,
    "coal_transportation": False
}

table = model.scenario(**params)
table

/Users/zechengli/Documents/davidsonlab/Modeling/Modeling.py:223: RuntimeWarning: invalid value encountered in divide
  lst2 = (np.array(lst1) / np.array(sale_cost_lst)).tolist()

,Power Dispatched (TWh),Weighted Average Tariff (RMB/MWh),Estimated Gross Revenue (RMB/MWh),Estimated Sales Cost (Million RMB),Gross Profit (Million RMB),Gross Profitability
All Power,127.65,333.440580,42563.69,33160,9403.69,28.36%
Coal Power,123.27,326.975582,40306.28,31095,9211.28,29.62%
Gas Power,3.75,563.000000,2111.25,2065,192.41,9.32%
Hydro Power,0.63,232.000000,146.16,2065,192.41,9.32%

In [10]:
model.case

                                   Reduced by 50%
Power Dispatched (TWh)                     61.635
Weighted Average Tariff (RMB/MWh)      326.975582
Estimated Gross Revenue (RMB/MWh)        20153.14
Estimated Sales Cost (Million RMB)      19542.399
Gross Profit (Million RMB)                610.741
Gross Profitability                         3.13%

In [16]:
params = {
    "types": "power",
    "pct": 0.5,
    "year": 2019,
    "coal_price": 343.0,
    "coal_power": True,
    "coal_purchase": False,
    "coal_transportation": False
}

model.scenario(**params)

/Users/zechengli/Documents/davidsonlab/Modeling/Modeling.py:223: RuntimeWarning: invalid value encountered in divide
  lst2 = (np.array(lst1) / np.array(sale_cost_lst)).tolist()

,Power Dispatched (TWh),Weighted Average Tariff (RMB/MWh),Estimated Gross Revenue (RMB/MWh),Estimated Sales Cost (Million RMB),Gross Profit (Million RMB),Gross Profitability
All Power,130.33,343.0,44012.16,NaN,NaN,nan%
Coal Power,126.52,343.0,41829.03,33560.0,8269.03,24.64%
Gas Power,3.81,343.0,2183.13,NaN,NaN,nan%
Hydro Power,0.00,343.0,0.00,NaN,NaN,nan%

In [17]:
model.case

                                   Reduced by 50%
Power Dispatched (TWh)                      63.26
Weighted Average Tariff (RMB/MWh)           343.0
Estimated Gross Revenue (RMB/MWh)        21698.18
Estimated Sales Cost (Million RMB)      25409.684
Gross Profit (Million RMB)              -3711.504
Gross Profitability                       -14.61%

In [19]:
# model.elec_cost