In [1]:
from Modeling import soeModel
%load_ext autoreload
%autoreload 1
%reload_ext autoreload
from IPython.display import display, HTML

In [2]:
model = soeModel()
model.preprocessing_2()

In [3]:
%%time
model.translate_cells('local_dictionary.json', False)

CPU times: user 62.1 ms, sys: 5.28 ms, total: 67.4 ms
Wall time: 67.8 ms

In [4]:
# correct types in dataframe
model.correct_digital_type()

In [5]:
params = {
    "types": "power",
    "pct": 0.5,
    "year": 2020,
    "coal_price": None, # default is none
    "coal_power": True,
    "coal_purchase": False,
    "coal_transportation": False
}

table = model.scenario2(**params)
table

/Users/zechengli/Desktop/CHINA_SOE_MODEL/Modeling.py:512: RuntimeWarning: invalid value encountered in divide
  lst2 = (np.array(lst1) / np.array(forecasted_gross_profit_lst_copy)).tolist()

,Power Dispatched (TWh),Weighted Average Tariff (RMB/MWh),Estimated Gross Revenue (RMB/MWh),Estimated Sales Cost (Million RMB),Gross Profit (Million RMB),Gross Profitability
All Power,127.65,333.440580,42563.69,33160.0,9403.69,22.09%
Coal Power,123.27,326.975582,40306.28,31095.0,9211.28,22.85%
Gas Power,3.75,563.000000,2111.25,2065.0,192.41,8.52%
Hydro Power,0.63,232.000000,146.16,2065.0,192.41,8.52%

In [7]:
model.case

                                   Reduced by 50%
Power Dispatched (TWh)                     61.635
Weighted Average Tariff (RMB/MWh)      326.975582
Estimated Gross Revenue (RMB/MWh)        20153.14
Estimated Sales Cost (Million RMB)      19542.399
Gross Profit (Million RMB)                610.741
Gross Profitability                         3.03%

In [9]:
params = {
    "types": "power",
    "pct": 0.5,
    "year": 2019,
    "coal_price": 343.0,
    "coal_power": True,
    "coal_purchase": False,
    "coal_transportation": False
}

model.scenario2(**params)

/Users/zechengli/Desktop/CHINA_SOE_MODEL/Modeling.py:515: RuntimeWarning: invalid value encountered in divide
  lst2 = (np.array(lst1) / np.array(forecasted_gross_profit_lst_copy)).tolist()

,Power Dispatched (TWh),Weighted Average Tariff (RMB/MWh),Estimated Gross Revenue (RMB/MWh),Estimated Sales Cost (Million RMB),Gross Profit (Million RMB),Gross Profitability
All Power,130.33,343.0,44012.16,NaN,NaN,nan%
Coal Power,126.52,343.0,41829.03,NaN,NaN,nan%
Gas Power,3.81,343.0,2183.13,NaN,NaN,nan%
Hydro Power,0.00,343.0,0.00,NaN,NaN,nan%

In [10]:
model.case

                                   Reduced by 50%
Power Dispatched (TWh)                      63.26
Weighted Average Tariff (RMB/MWh)           343.0
Estimated Gross Revenue (RMB/MWh)        21698.18
Estimated Sales Cost (Million RMB)      20601.924
Gross Profit (Million RMB)               1096.256
Gross Profitability                         5.05%

In [16]:
model.df_lst

['power_sale', 'power_cost', 'elec_cost', 'coal_oper', 'coal_seg', 'coal_sale']

In [18]:
for i in model.df_lst:
    display(eval('model.' + i))

,Power Plant Classification,power plant,Power grid,geographic location,Total power generation (100 million kWh),Total electricity sales (100 million kWh),Average utilization hours (hours),Standard coal consumption for electricity sales (g/kWh),Electricity sales price (RMB/MWh),Total installed capacity at the end of the year (MW),Equity installed capacity at the end of the year (MW)
years,,,,,,,,,,,
2018,coal burning,Suizhong Electric Power,East China Power Grid,liaoning,176.0,165.0,4672.0,310.0,309.0,3760.0,1880.0
2018,coal burning,Taishan Electric Power,China Southern Power Grid,Guangdong,239.0,226.0,4694.0,309.0,354.0,5090.0,4072.0
2018,coal burning,Huizhou Thermal Power,China Southern Power Grid,Guangdong,34.0,31.0,5187.0,324.0,358.0,660.0,660.0
2018,coal burning,Zheneng Electric Power,East China Power Grid,zhejiang,224.0,212.0,4944.0,299.0,353.0,4520.0,2712.0
2018,coal burning,Zhoushan Electric Power,East China Power Grid,zhejiang,48.0,44.0,5236.0,331.0,361.0,910.0,464.0
...,...,...,...,...,...,...,...,...,...,...,...
2021,coal burning,Jiujiang Electric Power,Central China Power Grid,Jiangxi,120.5,115.0,6023.0,276.0,364.0,2000.0,2000.0
2021,coal burning,Sichuan Energy,Sichuan Power Grid,sichuan,61.0,56.1,3468.0,325.0,424.0,3260.0,2102.0
2021,coal burning,Guohua calls,North China Power Grid,Inner Mongolia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,coal burning,Liuzhou Electric Power,Guangxi Power Grid,Guangxi,40.8,38.7,5826.0,314.0,366.0,700.0,490.0
2021,coal burning,Zhuneng Power,North China Power Grid,Inner Mongolia,36.3,32.9,5504.0,347.0,299.0,660.0,381.0

,cost category,Cost (RMB million),Electricity sales (100 million kWh),Unit cost (yuan/MWh)
years,,,,
2019,Other operating costs,52.0,1440.4,NaN
2019,other costs,1238.0,1440.4,8.5
2019,Electricity cost,NaN,NaN,NaN
2019,Depreciation and amortization,5481.0,1440.4,38.1
2019,"Raw materials, fuels and power",28739.0,1440.4,199.5
2019,Maintenance fees,NaN,NaN,NaN
2019,Labor cost,2371.0,1440.4,16.5
2020,other costs,970.0,1276.5,7.6
2020,Depreciation and amortization,5056.0,1276.5,39.6
2020,Other operating costs,2852.0,1277.5,NaN
2020,Maintenance fees,2086.0,1276.5,16.3
2020,Labor cost,2307.0,1276.5,18.1
2020,"Raw materials, fuels and power",24827.0,1276.5,194.5
2020,Electricity cost,35246.0,1276.5,276.1
2021,Depreciation and amortization,5254.0,1561.3,33.7
2021,Labor cost,3277.0,1561.3,21.0
2021,other costs,2315.0,1561.3,14.8
2021,"Raw materials, fuels and power",41686.0,1561.3,267.0
2021,Other operating costs,4833.0,1561.3,NaN
2021,Maintenance fees,1808.0,1561.3,11.6
2021,Electricity cost,54360.0,1561.3,348.1

,cost category,Cost (RMB million),Coal-fired electricity sales (100 million kWh),Unit cost (yuan/MWh)
years,,,,
2017,other costs,1925.0,2462.5,7.8
2017,Maintenance fees,NaN,NaN,NaN
2017,Labor cost,3939.0,2462.5,16.0
2017,"Raw materials, fuels and power",46008.0,2462.5,186.8
2017,Depreciation and amortization,9235.0,2462.5,37.5
2018,other costs,1801.0,2675.9,6.7
2018,Labor cost,4453.0,2675.9,16.6
2018,Maintenance fees,NaN,NaN,NaN
2018,"Raw materials, fuels and power",50511.0,2675.9,188.8
2018,Depreciation and amortization,8005.0,2675.9,29.9
2019,Maintenance fees,NaN,NaN,NaN
2019,Labor cost,2328.0,1265.4,18.4
2019,"Raw materials, fuels and power",26802.0,1265.4,211.8
2019,other costs,1125.0,1265.4,8.9
2019,Depreciation and amortization,5294.0,1265.4,41.8
2020,Depreciation and amortization,4886.0,1232.7,39.6
2020,other costs,841.0,1232.7,6.8
2020,Maintenance fees,1989.0,1232.7,16.1
2020,Labor cost,2265.0,1232.7,18.4
2020,"Raw materials, fuels and power",23103.0,1232.7,187.4
2021,Depreciation and amortization,5078.0,1516.4,33.5
2021,Labor cost,3195.0,1516.4,21.1
2021,other costs,2161.0,1516.4,14.3
2021,"Raw materials, fuels and power",39944.0,1516.4,263.4
2021,Maintenance fees,1688.0,1516.4,11.1
2022,Depreciation and amortization,2969.0,796.0,37.3
2022,Maintenance fees,860.0,796.0,10.8
2022,Labor cost,2025.0,796.0,25.4
2022,other costs,1001.0,796.0,12.6
2022,"Raw materials, fuels and power",22311.0,796.0,280.3

,years,commercial coal production,coal sales,self-produced coal,purchased coal
0,2020,291.6,446.4,296.0,150.4
1,2019,282.7,447.1,284.8,162.3

                                0         1         2
0                             NaN    2020.0    2019.0
1                             NaN       NaN       NaN
2             Purchased coal cost   48742.0   53831.0
3  Raw materials, fuels and power    7897.0    7458.0
4                      Labor cost    8119.0    7686.0
5   Depreciation and amortization    5318.0    5410.0
6             transportation cost   51557.0   52497.0
7                     other costs   16238.0   16996.0
8           Total Operating Costs  137871.0  143878.0

,0,1,2,3,4,5,6
0,NaN,2020.0,NaN,NaN,2019.0,NaN,NaN
1,NaN,NaN,Proportion of total sales volume,NaN,NaN,Proportion of total sales volume,NaN
2,NaN,446.4,100.0,410.0,447.1,100.0,426.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,430.1,96.3,419.0,431.0,96.4,434.0
5,NaN,190.0,42.6,380.0,193.3,43.2,392.0
6,NaN,163.5,36.6,465.0,176.9,39.6,478.0
7,NaN,76.6,17.2,418.0,60.8,13.6,440.0
8,NaN,16.3,3.7,176.0,16.1,3.6,204.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,394.0,88.3,416.0,389.9,87.2,432.0
11,NaN,47.7,10.7,374.0,53.0,11.9,387.0
12,NaN,4.7,1.1,322.0,4.2,0.9,363.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,444.3,99.5,410.0,442.3,98.9,425.0
15,NaN,429.5,96.2,411.0,430.6,96.3,427.0
16,NaN,162.1,36.3,317.0,162.6,36.4,329.0
17,NaN,267.4,59.9,468.0,268.0,59.9,486.0
18,NaN,9.7,2.2,353.0,8.2,1.8,343.0
19,NaN,5.1,1.1,418.0,3.5,0.8,441.0
20,NaN,0.7,0.2,556.0,1.7,0.4,626.0
21,NaN,1.4,0.3,435.0,3.1,0.7,446.0